* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5%;
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.courses_li {
  margin-bottom: 10%;
  color: black;
}

.course__name {
  text-decoration: none;
}

li .description {
  width: 700px;
}

.courses__ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
